*cpython-310*
*__pycache__
*egg-info
/data/

/output/
/cache/
/logs/
/env/
/slurm_logs/
hf_cache/

*.env
.miniconda3/
.conda/
# visualization/
/models/
/vsibench/
sam_hq_vit_h.pth
evaluation/
evaluation_*/
!scripts/evaluation/
scripts/evaluation/*
!scripts/evaluation/eval_janus_vln_scene_ghost.sh
!scripts/evaluation/eval_janus_vln_scene_segment_transition_ghost.sh
